/* Source: http://blog.teamtreehouse.com/a-better-clearfix-with-sass */
/* Use: @extend %clearfix; */
/* line 5, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/_clearfix.scss */
.reveal-content:after {
  content: "";
  display: table;
  clear: both; }

/* line 21, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
#topnav {
  height: 122px;
  margin-bottom: 50px;
  box-shadow: none;
  background-color: #e5403c; }
  /* line 27, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
  #topnav a.page-title {
    line-height: 122px;
    font-size: 48px;
    display: block;
    text-align: center; }

/* line 36, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
#nav-mobile #nav-logo {
  width: 80%;
  margin: 30px 10%; }

/* line 42, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
#sandwich {
  line-height: 122px;
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2; }

/* line 57, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
main, footer, #topnav {
  padding-left: 240px; }

/* line 61, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.cardtitle {
  font-size: 24px;
  font-weight: 300; }

/* line 66, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.edit {
  margin-right: 20px; }

/* line 70, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.edit:hover {
  cursor: pointer; }

/* line 78, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
textarea.materialize-textarea {
  padding: 0.8rem 0 1.6rem 0 !important; }

/* line 82, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.btn-submit, .btn-delete {
  margin: 0 0.75rem;
  background-color: #e5403c !important;
  font-size: 15px !important;
  font-weight: normal !important; }

/* line 89, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.btn-delete {
  margin-top: 15px;
  margin-bottom: 10px;
  clear: both; }

/* line 95, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.time-input-label, .balance-input-label, .price-input-label {
  line-height: 3rem; }

/* line 99, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.input-time {
  text-align: right; }

/* line 103, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.location-picker {
  height: 200px;
  width: 100%;
  width: calc(100% - 1.25rem);
  margin: 0 auto 20px auto;
  box-sizing: border-box; }

/* line 111, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
#container-games, #container-attractions {
  display: none; }

/* line 116, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.game-card .card-image, .user-card .card-image, .avatar-card .card-image, .qr-card .card-image {
  height: 60% !important; }
  /* line 119, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
  .game-card .card-image img, .game-card .card-image canvas, .user-card .card-image img, .user-card .card-image canvas, .avatar-card .card-image img, .avatar-card .card-image canvas, .qr-card .card-image img, .qr-card .card-image canvas {
    top: 10% !important;
    width: 40% !important;
    left: 30% !important;
    max-height: 100% !important;
    position: relative; }

/* line 130, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
attraction-card .card-image {
  height: 60% !important; }
  /* line 133, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
  attraction-card .card-image img {
    height: 100%; }

/* line 139, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.margin-auto {
  clear: both;
  margin-left: auto !important;
  margin-right: auto !important; }

/* line 145, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.input-qr-reward {
  height: 45px;
  line-height: 45px; }

/* line 150, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000; }

@media only screen and (max-width: 992px) {
  /* line 158, C:/Users/Dieter/Documents/GitHub/integration_multiscreen_groep1_cms/sass/styles.scss */
  main, footer, #topnav {
    padding-left: 0; } }

/*# sourceMappingURL=styles.css.map */